<div class="infoBlock">
<h1>Add New User</h1>
  <%= form_for(@user) do |f| %>
  <%= render 'shared/user_error_messages' %>
  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, 
	:placeholder => "password confirmation" %>
  </div>
  <div class="checkbox">
    <%= f.check_box :manager %>
    <%= f.label :manager, "Manager" %>
  </div>
  <div class="actions">
  <%= f.submit "Add User", :class => "button" %>
  <% end %>
  </div>
</div><br>
