<h1>Add New User/Manager</h1>

<div class="infoBlock">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/user_error_messages' %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div><br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div><br>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div><br>
  <div class="checkbox">
    <%= f.check_box :manager %>
    <%= f.label :manager, "Manager" %>
    <% puts @user %>
  </div><br>
  <div class="actions">
  <%= f.submit "Add User" %>
  <% end %>
  </div>
</div><br>
