<div class="infoBlock">
  <h1>
    <%= @user.name %>
  </h1>
  <% if @user.manager? %>
  <%= link_to "Add New User", signup_path %><br/><br/>
  <%= link_to "Borrower Emails", borrowers_path %><br/><br/>
  <%= link_to "All User Emails", emails_path %><br/><br/>
  <%= link_to "Download CSV Records", records_path(:format => "csv"), 
  :confirm => "Download all book records as a CSV file?" %><br/><br/>
  <%= link_to "Download Excel Records", records_path(format: "xls"),
  :confirm => "Download all book records as an Excel file?"  %>
  <% end %>
  <br>

  <% @books = @user.books %>
  <% if @books.count > 0 %>
  <h2>Books Checked Out</h2>
  <% @books = @user.books %>
  <% @books.each do |book| %>
  <div class="book">
    <div class="title"> 
      <%= book.name %>
    </div>
    <% if signed_in? and is_manager? %>
    <%= link_to "Check In", {:controller => "checkout_records", 
    :action => :destroy,
    :book => book.id,
    :user => @user.id }, :method => :delete%>
    <% end %>
    <p class="moreinfo">
      Authors(s): <%= book.authors %><br>
      <% if book.edition != nil %>
      Edition: <%= book.edition %>
      <% else %>
      Edition: N/A
      <% end %>
      <br>
    </p>
  </div>
  <% end %>
  <% end %>
</div>
