<div class="infoBlock">

  <!--User Name -->
  <h1>
    <%= @user.name %> 
  </h1>

  <!--Links for Manager -->
  <% if @user.manager? %>
  <%= link_to "Add New User", signup_path %><br/><br/>
  <%= link_to "Borrower Emails", borrowers_path %><br/><br/>
  <%= link_to "All User Emails", emails_path %><br/><br/>
  <%= link_to "Download CSV Records", records_path(:format => "csv"), 
  :confirm => "Download all book records as a CSV file?" %><br/><br/>
  <%= link_to "Download Excel Records", records_path(format: "xls"),
  :confirm => "Download all book records as an Excel file?"  %><br/><br/>
  <%= link_to "Notes for Manangers", notes_path %>
  <%= link_to "Notes for Tech Support", tech_path %>
  <% end %>
  <br>

  <!--Display User's Checked out Books, if any -->
  <% @books = @user.books %>
  <% if @books.count > 0 %>
  <h2>Books Checked Out</h2>
  <% @books = @user.books %>
  <% @books.each do |book| %>
  <div>
    <div class="title"> 
      <%= book.name %>
    </div>
    <!--Link to Check in Book -->
    <% if signed_in? and is_manager? %>
    <%= link_to "Check In", { :controller => "checkout_records", :action => :destroy,
    :book => book.id, :user => @user.id }, :method => :delete, :class => "link-action" %>
    <% end %>

    <% @book = book %>
    <%= render "shared/book_info" %>
  </div>
  <% end %>
  <% end %>


  <div id="account_info">Account Created on <%= @user.created_at.strftime('%B %d, %Y') %></div>

</div>
