<div class="book">
  <div class="title"> 
    <%= book.name %>
  </div>
  <% if signed_in? and is_manager? %>
  <%= link_to "Entry", book%>
  <%= link_to "Delete", book, :method => :delete, :confirm => "Are you
  sure?", :title => "Delete #{book.name}" %> 
  <%= link_to "Checkin", checkin_book_path(book), :method => :put%>
  <%= link_to "Checkout", new_checkout_record_path(:param => book.id) %>
  <% end %>
  <br>
  <p class="moreinfo">
    Authors(s): <%= book.authors %><br>
    <% if book.edition != nil %>
    Edition: <%= book.edition %>
    <% else %>
    Edition: N/A
    <% end %>
    <br>
    Copies available: <%= book.avail_copies
                          %>/<%= book.total_num_copies %>
  </p>
</div>

