<div class="indexed_item">
  <% if signed_in? and is_manager? %>
  <%= link_to "Delete", book, :method => :delete, :confirm => 
  "Are you SURE? 
  This will delete ALL records related to this book.", :title => "Delete #{book.name}", 
  :class => "link-action" %> 
  <% if book.avail_copies > 0 %>
  <%= link_to "Checkout", new_checkout_record_path(:param => book.id),
  :title => "Checkout #{book.name}",
  :class => "link-action" %>
  <% end %>
  <% end %>
  <% @book = book %>
  <div class="title"> 
  <% if signed_in? and is_manager? %>
  <%= link_to "#{book.name}", book%>
  <% else %>
    <%= book.name %>
  <% end %>
  </div>
  <%= render "shared/book_info" %>
</div>

