<div class="infoBlock">
<h1>Add Book</h1>
<%= render 'shared/book_error_messages' %>
<%= form_for(@book) do |f| %>
<div class="field">
  <%= f.text_field :name, :placeholder => "Title" %>
</div>
<div class="field">
  <%= f.text_field :authors, :placeholder => "Author(s)"  %>
</div>
<div class="field">
  <%= f.text_field :edition, :placeholder => "Edition"  %>
</div>
<div class="field">
  <%= f.text_field :avail_copies, :placeholder => "Available Copies"  %>
</div>
<div class="actions">
  <%= f.submit "Add book", :class => "button" %>
</div>
<% end %>
</div>

