<h1>Add Book</h1>
<div class="infoBlock">
<%= form_for(@book) do |f| %>
<%= render 'shared/book_error_messages' %>
<div class="field">
  <%= f.label :name, "Title" %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :authors, "Author(s)" %><br />
  <%= f.text_field :authors %>
</div>
<div class="field">
  <%= f.label :edition %><br />
  <%= f.text_field :edition %>
</div>
<div class="field">
  <%= f.label :avail_copies, "Available Copies" %><br />
  <%= f.text_field :avail_copies %>
</div>
<div class="actions">
  <%= f.submit "Add book" %>
</div>
<% end %>
</div>

