<% if (@books.count == 0) %>
  <div id="pag_message">
    <p>Sorry, your search for:<br />
      Title: <%= @temp_title %><br> 
      Authors: <%= @temp_authors %><br>
      returned no results.</p>
    <p>Our search function is not as robust as commercial
      companies'.<br/>Check your spelling, and try searching by 
      only author or title, rather than both.</p>
  </div>
  <% else %>
  <div id="pag_message">
    <%= @books.total_entries %> books found.<br />
    On page <%= @books.current_page %> of <%= @books.total_pages %></div>
  
  <div class="paginated">
    <%= will_paginate(:renderer => MinimalPaginationLinkRenderer, 
    :first_label => "&#8676; First", :last_label => "Last &#8677;") %></div>
  <br>
  <ul>
    <% @books.each do |book| %>
    <%= render book %>
    <% end %>
  </ul>
  
  <div class="paginated">
    <%= will_paginate(:renderer => MinimalPaginationLinkRenderer, 
    :first_label => "&#8676; First", :last_label => "Last &#8677;") %></div>
  <% if @books.count > 5 %>
  <a id ="link-to-top" href="#start">Top</a>
  <% end %>
  <% end %>
