<% if (@books.count == 0) %>
  <div id="pag_message">
    <p>Sorry, your search for:<br />
      Title: <%= @temp_title %><br> 
      Authors: <%= @temp_authors %><br>
      returned no results.</p>
    <p>Our search function is not as robust as commercial
      companies'.<br/>Check your spelling, and try searching by 
      only author or title, rather than both.</p>
  </div>
  <% else %>
  <div id="pag_message">
    <strong><%= @books.total_entries %> books found!</strong><br/>
    On page <%= @books.current_page %> of <%= @books.total_pages %>
    </div>
  
  <%= render 'shared/pag' %>
  <ul>
    <% @books.each do |book| %>
    <%= render book %>
    <% end %>
  </ul>
  
  <%= render 'shared/pag' %>
  
  <% if @books.count > 5 %>
  <a id ="link-to-top" href="#start">Top</a>
  <% end %>
  <% end %>
