<div class="infoBlock">
    <%= render "shared/book_info" %>
    <%= form_for @book, :url => {:action => "set_total_num_copies"} do |f| %>
    <%= render 'shared/book_error_messages' %>
    <div class="numCopiesField">
      <%= f.label :total_num_copies, "New Total Number of Copies" %>
      <%= f.text_field :total_num_copies %>
      <br>
      <%= f.submit "Set Total Number of Copies" %>  
    </div>
    <% end %>
</div>
