<div class="book">
  <text class="title">
  <%= @book.name %>
  </text>
  <p class="moreinfo">
    Authors(s): <%= @book.authors %><br>
    Edition: <%= @book.edition %><br>
    Copies available: <%= @book.avail_copies
    %>/<%= @book.total_num_copies %>
  </p>
</div>
