<!DOCTYPE html>
<html>
  <head>
    <title>Grinnell Textbook Lending Library | <%= @title %></title>
<meta name="viewport" content="width=device-width, minimumscale=
1.0, maximum-scale=1.0" />
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>
    <wrapper>     <!--Wrapper for all content except footer -->
      <top>     <!--Wrapper for logo, navigation, and search -->
	<header>
	  <!-- 'to top of page' link -->
	  <a name="start"></a>
	  <!--Normal logo -->
	  <a id="title" href="/"><img alt="Grinnell Textbook Lending Library"
			   class="round"
			   src="/images/trad_banner.png" /> </a>
	  <!--Content for small screens only -->
	  <div id="mobile">
	  <!--Mobile logo -->
	    <a href="/"><img alt="Grinnell Textbook Lending Library"
			   class="round"
			   src="/images/mobile_banner.png" /> </a>
	  <!--Mobile buttons to show/hide search and nav -->
	    <div id="icons">
	    <a href="#" onclick=toggle("search")>
	      <img src= "/images/64_search.png" alt= "Search for books" /></a>
	    <a href="#" onclick=toggle("nav")>
	      <img src= "/images/64_dropdown.png" alt= "Open Navigation" /></a>
	    </div>
	  </div>
	  <!--Navigation links -->
	  <div id="nav">
	    <ul class="links">
              <li><%= link_to "Home", root_path%></li>
              <li><%= link_to "Index", index_path%></li>
              <% if signed_in? %>
              <% if is_manager? %>
              <li><%= link_to "New Book", new_book_path%></li>
              <li><%= link_to "All Users", users_path %></li>
              <% end %>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
              <% end %>
	    </ul>
	  </div>
	</header>
	<!-- Search box -->
	<%= render 'books/search' %>
      </top>
      <content>
	<!-- Flash messages -->
	<% flash.each do |key, value| %>
	  <div id="flash_<%= key %>"><%= value %></div>
	<% end %>
	<!-- Rest of the content -->
	<%= yield %>
      </content>
    </wrapper>
    <!-- Footer -->
    <footer>
      <%= render 'pages/footer' %>
    </footer>
  </body>
</html>
