<!DOCTYPE html>
<html>
  <head>
    <title>Grinnell Textbook Lending Library | <%= @title %></title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
    <header>
      <div id="topBanner">
        <a href="/"><img alt="Grinnell Textbook Lending Library"
                         class="round"
                         src="/images/Grinnell.Leaves.Color.png" /> </a>
        <logo-text>Grinnell Textbook Lending Library</logo-text>
        <%= render 'books/search' %>
      </div>
      <br>
      <ul class="links">
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Index", index_path%></li>
        <% if signed_in? %>
        <% if is_manager? %>
        <li><%= link_to "Add Book", new_book_path%></li>
        <li><%= link_to "All Users", users_path %></li>
        <% end %>
        <li><%= link_to "Profile", current_user %>
        <li style="color:white">
          <%= link_to "Sign out", signout_path, :method => :delete %></li>
        <% end %>
      </ul>
  </header>
    <% flash.each do |key, value| %>
    <div id="flash_<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
